@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
    --cor-preto: #000000;
    --font-principal: Josefin Sans;
}

body {
    font-family: var(--font-principal);
}

.main {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.bloco {
    padding: 50px 30px;
}

.content_bloco {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--cor-preto);
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

table th, td, caption {
    border: 1px solid var(--cor-preto);
    padding: 10px;
}

caption {
    font-size: 20px;
    font-weight: bold;
}